
body {
  background-color: #eeeeee; 
  
  font-family: 'Segoe UI', sans-serif;
}


:root {
  --bs-primary: #28a745; 
}


.btn-primary {
  border-radius: 12px; 
  font-weight: 600;
}


.card {
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.form-control {
  border-radius: 10px;
}


h1, h2, h3 {
  color: #19692c; 
}


.contact-right-card {
  position: relative;
  color: white; 
  overflow: hidden;
  background: url('/images/contact-background.jpg') no-repeat center center;
  background-size: cover;
  border-radius: 15px; 
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.contact-right-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35); 
  z-index: 0;
}


.contact-right-card > .card-content {
  position: relative;
  z-index: 1;
}
